[submodule "唐代孙过庭"]
	path = 唐代孙过庭
	url = https://github.com/beitie/sunguoting.git
[submodule "元代赵孟頫"]
	path = 元代赵孟頫
	url = https://github.com/beitie/zhaomengfu.git
[submodule "明代文徵明"]
	path = 明代文徵明
	url = https://github.com/beitie/wenzhengming.git
[submodule "东晋王羲之"]
	path = 东晋王羲之
	url = https://github.com/beitie/wangxizhi.git
[submodule "唐代欧阳询"]
	path = 唐代欧阳询
	url = https://gitlab.com/shufa/ouyangxun.git
